/* 992px */

/* 11.MAIN */

.project img {
width : 73.89%;
float : left;
margin : 0 0 1.4em; }

.project figure img {
margin-right : 3.33%; }

.project figcaption {
max-width : 100%; }

aside {
float : right;
width : 22.55%;
border-bottom : 0; }

aside li, aside p {
width : auto;
float : none;
margin-right : 0; }

.palette li {
width : 14px;
margin : 3px 1px;
float : left; }