/* 
================================================= 
Mixins
=================================================
*/
/* Colors */
/* Shadows */
/* Fonts */
/* 400px Grid */
/* 720px Grid */
/* 900px Grid */
/* 
================================================= 
Normalize
=================================================
*/
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: 'andale mono', 'lucida console', monospace;
  _font-family: 'courier new', monospace;
  font-size: .857em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
================================================= 
Base
=================================================
*/
body {
  border: 2px solid #21ABFB;
  border-left: none;
  border-right: none;
  font-family: proxima-nova,sans-serif;
  color: #282828;
  line-height: 1.4;
}

figure, figcaption {
  margin: 1.4em 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: proxima-nova-extra-condensed, sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: #1777af;
  text-decoration: none;
}

a:hover {
  color: #282828;
}

pre {
  background: #EEE;
  border: 1px solid #A6A6A6;
  padding: 1em 1.5em;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 0 #FFF;
}

/* 
================================================= 
Layout
=================================================
*/
.l-constrained {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.l-primary {
  max-width: 580px;
}

.l-meta {
  clear: both;
}

/* 
================================================= 
Modules
=================================================
*/
.banner {
  border-bottom: 1px solid #000;
  box-shadow: 0 0 10px rgba(40, 40, 40, 0.1);
  background: #282828;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.logo, .logo:visited {
  padding-top: .167em;
  display: block;
  height: 48px;
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.logo:hover {
  color: white;
}

.nav {
  text-align: center;
  margin: 0 1.19%;
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: block;
  padding: 1em;
  color: #BCBCBC;
}
.nav a:hover {
  color: white;
}

.main {
  margin: 1.4em 0;
}

.sct-head {
  padding: 0 0 0.33em;
  margin: 0.33em 0 0;
  border-bottom: 1px solid #BEBEBE;
  font-size: 3em;
  line-height: 0.9;
}

.sct-head a {
  padding-right: 36px;
  display: inline-block;
  background: url("../img/arrow.png") no-repeat scroll right 5px transparent;
  color: #282828;
}

.sct-head a:hover {
  background-position: right -43px;
  color: #1777af;
}

.post {
  border-bottom: 1px solid #bebebe;
}

.post a {
  display: block;
  padding: 1em 0;
}

.post a:hover .post-title {
  color: #1777af;
}

.post-title {
  margin: 0;
  font-size: 1.5em;
  line-height: 0.9;
  color: #282828;
}

.post-img {
  margin-top: 1em;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.pubdate {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #7E7E7E;
  line-height: 1.65em;
}

.colophon {
  border-bottom: 1px solid #BEBEBE;
}
.colophon ul {
  padding: 0;
}

.colophon-item {
  margin-bottom: 1.4em;
  list-style: none;
}

.colophon-head {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-size: 0.8em;
  line-height: 1.65em;
  color: #7E7E7E;
}

.palette {
  margin: 0;
}

.palette li {
  width: 14px;
  height: 14px;
  margin: 3px 1px;
  float: left;
  border: 1px solid #BEBEBE;
  list-style: none;
  text-indent: -9999px;
}

.cta {
  display: block;
  padding: 1em;
  clear: both;
  border: 1px solid #BEBEBE;
  border-left: none;
  border-right: none;
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

.fig-img {
  margin: 1.4em 0;
  display: block;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.caption {
  color: #666;
  font-size: 0.875em;
}

.block ul {
  padding: 0;
}

.block li {
  list-style: none;
}

.meta li {
  display: inline-block;
  margin-right: 1em;
  font-size: 0.875em;
}

.footer {
  border-top: 1px solid #000;
  background: #282828;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.footer a {
  color: #21abfb;
}

.footer a:hover {
  color: white;
}

.copyright {
  display: block;
  font-size: 0.875em;
}

.copyright a {
  margin-left: 1em;
}

/* 
================================================= 
States
=================================================
*/
/* 
================================================= 
Larger Than 400px
=================================================
*/
@media only screen and (min-width: 25em) {
  .l-block {
    float: left;
    width: 46.12%;
    margin-right: 6.29%;
    vertical-align: top;
    display: inline-block;
  }

  .l-block.last {
    margin-right: 0;
  }

  .copyright {
    display: inline-block;
    margin-right: 1em;
  }

  .meta {
    display: inline-block;
  }
}
/* 
================================================= 
Larger Than 544px
=================================================
*/
@media only screen and (min-width: 34em) {
  .logo {
    display: inline-block;
    height: 70px;
  }

  .nav {
    display: inline-block;
    vertical-align: top;
    margin: 14px 0 0;
  }
}
/* 
================================================= 
Larger Than 720px
=================================================
*/
@media only screen and (min-width: 45em) {
  .l-primary {
    float: left;
    width: 65.55%;
    margin-right: 3.33%;
    vertical-align: top;
  }

  .l-about {
    float: left;
    width: 31.11%;
    margin-right: 3.33%;
    vertical-align: top;
  }

  .l-block {
    float: left;
    width: 31.11%;
    margin-right: 3.33%;
    vertical-align: top;
  }

  .l-figure {
    float: left;
    width: 65.55%;
    margin-right: 3.33%;
    vertical-align: top;
  }

  .l-articles {
    float: left;
    width: 31.11%;
    margin-right: 3.33%;
    vertical-align: top;
  }

  .l-projects {
    float: left;
    width: 65.55%;
    margin-right: 3.33%;
    vertical-align: top;
    margin-right: 0;
  }

  .colophon {
    border: none;
  }
  .colophon ul {
    height: 1em;
  }
}
/* 
================================================= 
Larger Than 896px
=================================================
*/
@media only screen and (min-width: 56em) {
  .l-figure {
    float: left;
    width: 74.37%;
    margin-right: 2.67%;
    vertical-align: top;
  }

  .fig {
    clear: both;
  }
}
/* 
================================================= 
Nonsemantic Helper Classes
=================================================
*/
/*
 * Image replacement
 */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .vh class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.vh.focusable:active,
.vh.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Contain floats: h5bp.com/q
 */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 
================================================= 
Print
=================================================
*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
