/* Colors */
/* Fonts */
/* 
================================================= 
Normalize
=================================================
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #1777af;
  text-decoration: none; }

a:hover {
  color: #000; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.vh.focusable:active, .vh.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/* 
================================================= 
Base
=================================================
*/
body {
  font-family: proxima-nova,sans-serif; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: proxima-nova-extra-condensed, sans-serif;
  text-transform: uppercase; }

/* 
================================================= 
Layout
=================================================
*/
.l-constrained {
  width: 90%;
  max-width: 900px;
  margin: 0 auto; }

.l-banner {
  border-top: 2px solid #21ABFB;
  border-bottom: 1px solid #000;
  box-shadow: 0 0 10px rgba(40, 40, 40, 0.1);
  background: #282828;
  color: white;
  text-shadow: 1px 1px 1px #000; }

.l-main {
  margin: 1.4em 0; }

.l-footer {
  padding-top: 1.4em;
  background: #282828;
  color: white; }

.l-footer a {
  color: #21abfb; }

.l-footer a:hover {
  color: white; }

/* 
================================================= 
Modules
=================================================
*/
.logo, .logo:visited {
  padding-top: .167em;
  display: inline-block;
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  line-height: 1.2; }

.nav-ctrl {
  float: right;
  height: 45px;
  width: 45px;
  background: url("../img/nav-ctrl.png") no-repeat; }

.nav li {
  display: inline-block;
  margin-right: 9.49%; }

.nav li:last-child {
  margin-right: 0; }

.nav a {
  color: #BCBCBC; }

.nav a:hover {
  color: #FFF; }

.sct-head {
  padding: 0 0 0.33em;
  margin: 0.33em 0 0;
  border-bottom: 1px solid #BEBEBE;
  font-size: 3em;
  line-height: 0.9; }

.sct-head a {
  padding-right: 36px;
  display: inline-block;
  background: url("../img/arrow.png") no-repeat scroll right 5px transparent;
  color: #282828; }

.sct-head a:hover {
  background-position: right -43px;
  color: #1777af; }

.post {
  border-bottom: 1px solid #bebebe; }

.post a {
  display: block;
  padding: 1em 0; }

.post a:hover .post-title {
  color: #1777af; }

.post-title {
  margin: 0;
  font-size: 1.5em;
  line-height: 0.9;
  color: #282828; }

.post-img {
  margin-top: 1em; }

.block ul {
  padding: 0; }

.block li {
  list-style: none; }

.copyright {
  display: block;
  padding: 1em 0;
  font-size: 1em; }

/* 
================================================= 
States
=================================================
*/
/* 480px */
@media only screen and (min-width: 480px) {
  /* 
  ================================================= 
  Base
  =================================================
  */
  /* 
  ================================================= 
  Layout
  =================================================
  */
  /* 
  ================================================= 
  Modules
  =================================================
  */
  /* 
  ================================================= 
  States
  =================================================
  */ }
/* 768px */
@media only screen and (min-width: 768px) {
  /* 
  ================================================= 
  Base
  =================================================
  */
  /* 
  ================================================= 
  Layout
  =================================================
  */
  /* 
  ================================================= 
  Modules
  =================================================
  */
  /* 
  ================================================= 
  States
  =================================================
  */ }
/* 992px */
@media only screen and (min-width: 992px) {
  /* 
  ================================================= 
  Base
  =================================================
  */
  /* 
  ================================================= 
  Layout
  =================================================
  */
  /* 
  ================================================= 
  Modules
  =================================================
  */
  /* 
  ================================================= 
  States
  =================================================
  */ }
/* IE Specific Styles */
.ie6 .main, .ie7 .main, .ie8 .main {
  width: 900px; }

.ie6 .banner nav {
  margin: 0;
  width: 100%; }

.ie6 .container, .ie7 .container, .ie8 .container {
  width: 900px; }

.ie6 .study {
  width: 668px; }

.ie6 aside {
  width: 668px;
  float: none; }

.ie6 aside li, .ie6 aside p {
  float: left;
  margin-right: 3.33%;
  width: 22.44%; }

.ie6 .complementary section, .ie6 .complementary nav {
  width: 20%; }

.ie6 footer p, .ie7 footer p, .ie8 footer p {
  width: 900px;
  margin: 0 auto; }

.ie6 .main a {
  border: 1px solid #FFFFFF; }

.ie6 .main h2 a:hover {
  border: 1px solid #FFFFFF; }

.ie6 .main h2 a:active {
  border: 1px solid #FFFFFF; }
