/* ==========================================================================
   Footer
   ========================================================================== */

.Footer {
  background: var(--Color-grey-dark);
  box-shadow: 0 -1px 0 var(--Color-grey-ultradark);
  color: var(--Color-off-white);
  /* 14px */
  font-size: 0.875rem;
  text-shadow: 0 -1px 0 var(--Color-grey-ultradark);
}

@media (--md-viewport) {
  .Footer {
    font-size: 1rem;
  }
}

/**
 * Footer Links
 */

.FooterLink {
  color: var(--Color-orange);
}

.FooterLink:hover,
.FooterLink:focus {
  box-shadow: 0 2px 0 var(--Color-orange);
  color: var(--Color-off-white);
}

/**
 * Footer Navigation
 */

.FooterNav {
  font-size: 0;
}

.FooterNav-section {
  display: inline-block;

  /* 14px */
  font-size: 0.875rem;
}

.FooterNav-section + .FooterNav-section {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid var(--Color-grey-medium);
}

@media (--md-viewport) {
  .FooterNav-section {
    font-size: 1rem;
  }

  .FooterNav-section + .FooterNav-section {
    margin-left: 1.5em;
    padding-left: 1.5em;
  }
}
