.l-primary {
	@include m-col(4);
}

.l-about {
	@include m-col(2);
}

.l-block {
	@include m-col(2);
}

.l-figure {
	@include m-col(4);
}

.l-articles {
	@include m-col(2);
}

.l-projects {
	@include m-col(4);
	margin-right: 0;
}

.colophon {
	border: none;

	ul {
		height: 1em;
	}

}