/* 
================================================= 
Mixins
=================================================
*/

/* Colors */

$contrast: #282828;
$contrast-text: #FFF;
$contrast-link: #21ABFB;

$link: #1777AF;

$border: 1px solid #BEBEBE;

/* Shadows */

$contrast-shadow: 1px 1px 1px #000;

/* Fonts */

$heading: proxima-nova-extra-condensed,sans-serif;