/* ==========================================================================
   Articles
   ========================================================================== */

/**
 * Article Content
 */

.Article {
  font-size: 0.875rem;
}

@media (--md-viewport) {
  .Article {
    /* 18px */
    font-size: 1.125rem;
  }
}

.Article ul {
  padding-left: 3rem;
}

.Article ul > li {
  position: relative;
}

.Article ul > li:before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: -1.5rem;

  height: 0.4em;
  width: 0.4em;

  background: var(--Color-orange);
  border-radius: 50%;
}

.Article code {
  margin: 0 0.125em;
  padding: 0 3px;
  border-radius: 2px;

  background: var(--Color-grey-ultralight);
  font-family: var(--Font-code);
}

.Article pre {
  padding: 0.5rem 0.75rem;
  border: solid var(--Color-grey-ultradark);
  border-width: 1px 0 0 1px;
  border-radius: 2px;

  background: var(--Color-grey-dark);
  color: var(--Color-grey-light);
  tab-size: 2;
  text-shadow: 0 -1px 0 var(--Color-grey-ultradark);
}

@media (--md-viewport) {
  .Article pre {
    padding: 1rem 1.5rem;
  }
}

@media (--lg-viewport) {
  .Article pre {
    margin-right: -10rem;
    margin-left: -10rem;
  }
}

.Article pre code {
  margin: 0;
  padding: 0;
  border-radius: 0;

  background: none;
}

/**
 * Article Links
 */

.ArticleLinks a {
  box-shadow: 0 2px 0 var(--Color-grey-light);
}

.ArticleLinks a:hover,
.ArticleLinks a:focus {
  box-shadow: 0 2px 0 var(--Color-orange);
}

/**
 * Footnotes
 */

 .Article .footnotes hr {
   border: 0;
   border-top: 1px solid var(--Color-grey-light);
 }

 .Article .footnotes ol {
   color: var(--Color-grey-medium);
   list-style: decimal;
   padding-left: 1rem;
 }

 @media (--md-viewport) {
   .Article .footnotes ol {
     font-size: 0.875rem;
     padding-left: 0;
   }
 }

 .Article .footnotes p {
   color: var(--Color-grey-dark);
 }
