/* ==========================================================================
   Base Styles
   ========================================================================== */

/**
 * Box-sizing
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Typography
 */

body {
  background: var(--Color-off-white);
  color: var(--Color-grey-dark);
  font-family: var(--Font-serif);
  line-height: 1.5;
}

b,
strong {
  font-weight: 600;
}

/**
 * Default Margins
 */

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr {
  margin-bottom: 1.5rem;
}

/**
 * Links
 */

a {
  color: var(--Color-orange-text);
  text-decoration: none;
}
