/* Type */

.sans {
  font-family: var(--fontSans);
}

.fw5 {
  font-weight: 500;
}

.fw7 {
  font-weight: 700;
}

.fw9 {
  font-weight: 900;
}

.f12 {
  /* 12px */
  font-size: 0.75rem;
}

.f14 {
  /* 14px */
  font-size: 0.875rem;
}

.f16 {
  /* 16px */
  font-size: 1rem;
}

.f18 {
  /* 18px */
  font-size: 1.125rem;
}

.f32 {
  /* 32px */
  font-size: 2rem;
}

@media (--m-viewport) {
  .f14-m {
    /* 14px */
    font-size: 0.875rem;
  }

  .f16-m {
    /* 16px */
    font-size: 1rem;
  }

  .f18-m {
    /* 18px */
    font-size: 1.125rem;
  }

  .f21-m {
    /* 21px */
    font-size: 1.3125rem;
  }

  .f24-m {
    /* 24px */
    font-size: 1.5rem;
  }
}

.tc {
  text-align: center;
}

/* Colors */

.bg-orangeGradient {
  background-image: var(--gradientOrangePink);
}

.bg-yellow {
  background-color: var(--colorYellow);
}

.white {
  color: var(--colorWhite);
}

.purple {
  color: var(--colorPurple);
}

/* Flex */

.flex {
  display: flex;
}

.flex-auto {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

@media (--m-viewport) {
  .flex-row-m {
    flex-direction: row;
  }
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/* Spacing */

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (--m-viewport) {
  .pb4-m {
    padding-bottom: 4rem;
  }

  .py4-m {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .py5-m {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.ml1 {
  margin-left: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

@media (--m-viewport) {
  .mt0-m {
    margin-top: 0;
  }
}

.mb2 {
  margin-bottom: 2rem;
}

@media (--m-viewport) {
  .ml2-m {
    margin-left: 2rem;
  }
}

/* Display */

.db {
  display: block;
}

/**
 * Font Smoothing
 */

.fontSmoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
