/* ==========================================================================
   Layout
   ========================================================================== */

/**
 * Container
 */

.Container {
  max-width: 62rem;
  margin: 0 auto;
  width: 90%;
}

.Container--narrow {
  max-width: 42rem;
  width: 100%;
}
