/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Headings
 */

.HeadingA,
.Article h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
}

.HeadingB,
.Article h2 {
  /* 24px */
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 2rem 0 1rem;
}

.HeadingC,
.Article h3 {
  font-family: var(--Font-sans);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 2rem 0 1rem;
}

@media (--md-viewport) {
  .HeadingA,
  .Article h1 {
    /* 72px */
    font-size: 4.5rem;
    line-height: 1;
  }

  .HeadingB,
  .Article h2 {
    /* 32px */
    font-size: 2rem;
  }

  .HeadingC,
  .Article h3 {
    /* 24px */
    font-size: 1.5rem;
  }
}

/**
 * Title
 */

.Title {
  margin-bottom: 0.0833em;
  border-bottom: 1px solid var(--Color-grey-light);
}

/**
 * Kicker
 */

.Kicker {
  font-size: 1rem;
}

@media (--md-viewport) {
  .Kicker {
    /* 21px */
    font-size: 1.3125rem;
  }
}

/**
 * Meta
 */

.Meta {
  display: block;

  color: var(--Color-grey-medium);
  /* 14px */
  font-size: 0.875rem;
  font-style: italic;
}
