/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * Media Queries
 */

@custom-media --sm-viewport (min-width:20em);
@custom-media --m-viewport (min-width:42em);
@custom-media --lg-viewport (min-width:62em);

:root {
/**
 * New Colors
 */
  --colorOrange: #f55a32;
  --colorOrangeText: #e03106;
  --colorPink: #fa2e5d;
  --colorYellow: #fff3e1;
  --colorPurple: #b7929a;
  --colorPurpleDark: #644d52;

  --colorWhite: #fefefe;
  --colorGreyLight: #DDD4C7;
  --colorGreyUltralight: #EEEBE7;

  --gradientOrangePink: linear-gradient(45deg, var(--colorOrange), var(--colorPink));

/**
 * Fonts
 */
  --fontSerif: Iowan Old Style, Georgia, Times New Roman, serif;
  --fontSans: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
  --fontCode: Bitstream Vera Sans Mono, Source Code Pro, Andale Mono, Lucida Console, monospace;
}
