/* 480px */
/* 2.HEADINGS */
.home .banner h1 {
  text-shadow: 3px 3px 1px #000000;
  font-size: 6em; }

.home .banner {
  padding: 0; }

/* 8.BANNER */
.banner {
  padding: 0; }

/* 9.NAVIGATION */
.banner nav {
  margin-left: 25.78%;
  width: 74.22%;
  clear: none; }

.banner ul {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0; }

.banner li {
  float: left;
  margin-top: 13px;
  margin-bottom: 10px;
  margin-right: 9.49%;
  line-height: 0.8;
  width: 12.87%;
  max-width: 53px; }

.banner li a {
  padding: 20px 0 8px; }

/* 11.MAIN */
.main {
  margin: 0 auto;
  width: 90%;
  max-width: 900px; }

.category {
  width: 48.33%;
  float: left;
  padding: 0; }

.category:first-child {
  margin-right: 3.33%; }

.main h2 {
  margin: 0 0 0.46em; }

.home .main h2 {
  margin: 0; }

.archive header {
  margin: 0; }

.archive article {
  width: 48.33%;
  float: left; }

.archive article:nth-child(even) {
  margin-right: 3.33%; }

.archive section article {
  width: 100%; }

.archive section article:nth-child(odd) {
  margin-right: 0; }

.archive a.more {
  width: 100px;
  margin: 0 auto;
  text-align: center; }

.archive article a {
  padding: 6px 12px;
  margin: 8px -13px; }

article p {
  margin: 0 0 1.4em; }

.project img {
  border: 1px solid #BEBEBE;
  width: 100%;
  margin: 0;
  max-width: 665px;
  margin-bottom: 1.4em; }

.project figcaption {
  margin: 0; }

aside {
  margin: 0 0 1.4em; }

aside li, aside p {
  width: 48.33%;
  float: left;
  margin-right: 3.33%; }

aside li:nth-child(even) {
  margin-right: 0; }

aside p:nth-child(even) {
  margin-right: 0; }

.about aside p {
  width: 100%; }

.palette li {
  width: 14px;
  margin: 3px 1px; }

.palette li:nth-child(even) {
  margin-right: 1px; }

/* 12.COMPLEMENTARY */
.complementary section {
  float: left;
  width: 48.33%;
  padding: 1.4em 0; }

.complementary section.extras {
  clear: left;
  margin-right: 3.33%; }

.complementary nav {
  float: left;
  width: 48.33%;
  margin-right: 3.33%;
  padding: 1.4em 0; }

.complementary h2 {
  margin: 0; }

/* 14.GLOBAL OBJECTS */
.main h2.fourohfour {
  font-size: 7.85em;
  margin-bottom: .3em; }

/* 768px */
/* 11.MAIN */
.archive header {
  padding-right: 25.78%; }

aside li, aside p {
  width: 22.44%;
  margin-right: 3.33%; }

aside .view {
  clear: both;
  width: 70.65%; }

aside li:nth-child(even) {
  margin-right: 0; }

aside p:nth-child(even) {
  margin-right: 0; }

.palette li {
  width: 14px;
  margin: 3px 1px; }

.palette li:nth-child(even) {
  margin-right: 1px; }

/* 12.COMPLEMENTARY */
.complementary section {
  width: 22.44%;
  padding: 1.4em 0;
  margin-right: 3.33%; }

.complementary section:last-child {
  margin-right: 0; }

.complementary section.extras {
  clear: none; }

.complementary nav {
  width: 22.44%;
  padding: 1.4em 0;
  margin-right: 3.33%; }

/* 14.GLOBAL OBJECTS */
.main h2.fourohfour {
  font-size: 10em; }

/* 992px */
/* 11.MAIN */
.project img {
  width: 73.89%;
  float: left;
  margin: 0 0 1.4em; }

.project figure img {
  margin-right: 3.33%; }

.project figcaption {
  max-width: 100%; }

aside {
  float: right;
  width: 22.55%;
  border-bottom: 0; }

aside li, aside p {
  width: auto;
  float: none;
  margin-right: 0; }

.palette li {
  width: 14px;
  margin: 3px 1px;
  float: left; }

/* IE Specific Styles */
.ie6 .main, .ie7 .main, .ie8 .main {
  width: 900px; }

.ie6 .banner nav {
  margin: 0;
  width: 100%; }

.ie6 .container, .ie7 .container, .ie8 .container {
  width: 900px; }

.ie6 .study {
  width: 668px; }

.ie6 aside {
  width: 668px;
  float: none; }

.ie6 aside li, .ie6 aside p {
  float: left;
  margin-right: 3.33%;
  width: 22.44%; }

.ie6 .complementary section, .ie6 .complementary nav {
  width: 20%; }

.ie6 footer p, .ie7 footer p, .ie8 footer p {
  width: 900px;
  margin: 0 auto; }

.ie6 .main a {
  border: 1px solid #FFFFFF; }

.ie6 .main h2 a:hover {
  border: 1px solid #FFFFFF; }

.ie6 .main h2 a:active {
  border: 1px solid #FFFFFF; }
