/* _________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER header[role="banner"]
9.NAVIGATION nav[role="navigation"]
10.CONTENT
11.MAIN div[role="main"]
12.COMPLEMENTARY div[role="complementary"]
13.CONTENTINFO footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC 
16.TEMPLATE SPECIFICS
17.MODERNIZR

COLOURS 

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin : 0;
padding : 0;
border : 0;
font-size : 100%;
font : inherit;
vertical-align : baseline; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display : block; }

abbr[title] { 
border-bottom : 1px dotted; 
cursor : help; }

/* 1.ROOT */

html {
overflow-y : scroll;
background : rgb(255,255,255); }

body { 
margin : 0 auto;
padding : 0;
width : 100%;
font : 100%/1.4 proxima-nova, sans-serif;
color : rgb(40,40,40); 
background-color : transparent; }

/* 2.HEADINGS */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
font-family : proxima-nova-extra-condensed,sans-serif;
font-weight : 700;
text-transform : uppercase; }

h1 { 
font-size : 1.5em; /* 24 / 16 = 1.5 */
text-shadow : 1px 1px 1px #000000; }

h2 { 
margin-bottom : 0.46em;
font-size : 3em; /* 48 / 16 = 3 */
line-height : 0.9em; }

h3 { 
margin-bottom : 0.95em;
font-size : 1.5em; /* 24 / 16 = 1.5 */
line-height : 0.9em; }

h4 { 
margin-bottom : 1.25em;
font-size : 1.125em; /* 18 / 16 = 1.125 */
line-height : 1.25; }

h5 { 
margin-bottom : 1.4em;
font-size : 1em; /* 16 / 16 = 1 */ }

h6 { 
font-size : 0.875em; /* 14 / 16 = 0.875 */ }

/* 3.TYPOGRAPHY */

p, 
ol, 
ul, 
dl, 
address { 
margin-bottom : 1.4em; 
font-size : 1em; /* 16 / 16 = 1 */ }

ul, 
ol { 
margin : 0 0 1.4em -24px; 
padding-left : 24px; }

ul { 
list-style-type : disc; }

ol { 
list-style-type : decimal; }

li ul, 
li ol { 
margin : 0;
font-size : 1em; /* 16 / 16 = 1 */ }

dl, 
dd { 
margin-bottom : 1.4em; }

dt { 
font-weight : normal; }

blockquote  { 
margin : 0 0 1.4em -24px; 
padding-left : 24px; 
border-left : 1px solid rgb(200,200,200);
font-style : italic; }

blockquote:before, 
blockquote:after, 
q:before, 
q:after {
content : '';
content : none; }

b, 
strong	{ 
font-weight : bold; }

i, 
em { 
font-style : italic; }

sup, 
sub { 
position : relative;
font-size : 75%; 
line-height : 0; }

sup { 
top : -.5em; }

sub { 
bottom : -.25em; }

address { 
font-style : normal; }

pre { 
margin-bottom : 1.4em; 
white-space : pre; 
white-space : pre-wrap; 
word-wrap : break-word; }

pre, 
code { 
font : .875em 'andale mono', 'lucida console', monospace; 
line-height : 1.4; }

small {
font-size : 1em; /* 16 / 16 = 1 */ }

/* 4.LINKS */

a, 
a:visited {
outline : none;
color : rgb(23,119,175);
text-decoration : none; }
 
a:hover { 
outline : none;
color : rgb(40,40,40); }
 
a:active, 
a:focus { 
outline : none;
color : rgb(0,0,0); }

/* 5.FIGURES & IMAGES */

figure img,
figure object,
figure embed {
margin-bottom : .75em;
max-width : 100%; }

figcaption {
display : block;
font-weight : normal; }

/* 6.TABLES */

table { 
border-collapse : collapse;
border-spacing : 0;
margin-bottom : 1.4em; 
width : 100%;
font-size : .875em; /* 14 / 16 = .875 */ }

th { 
font-weight : bold; }

th, td, caption { 
padding : .25em 10px .25em 5px; }

tfoot { 
font-style : italic; }

caption { 
background-color : transparent; }

/* 7.FORMS (See css/mylibs/forms.css) */

/* 8.BANNER */

[role="banner"] {
color : rgb(255,255,255);
background : rgb(40,40,40);
border-bottom : 1px solid #000000;
position : relative;
-moz-box-shadow : 0 0 10px rgba(40,40,40,0.1);
-webkit-box-shadow : 0 0 10px rgba(40,40,40,0.1);
box-shadow : 0 0 10px rgba(40,40,40,0.1);
text-shadow : 1px 1px 1px #000000;
border-top : 2px solid #21ABFB; }

.home [role="banner"] {
padding : 4px 0 0; }

[role="banner"] a, [role="banner"] a:visited {
color : #21ABFB;
-moz-transition : all 0.3s ease;
-webkit-transition : all 0.3s ease;
-o-transition : all 0.3s ease;
transition : all 0.3s ease; }

[role="banner"] a:hover {
color : rgb(255,255,255); }

[role="banner"] a:active {
color : rgb(255,255,255);
text-decoration : underline; }

[role="banner"] h1 {
line-height : 1.2;
float : left;
margin-top : 4px; }

.home [role="banner"] h1 {
float : none;
font-size : 3em;
margin-top : 0; }

[role="banner"] h1 a, [role="banner"] h1 a:visited {
color : rgb(255,255,255);
display : inline-block; }

[role="banner"] h1 a:hover {
text-shadow : 2px 2px 1px #1777AF; }

[role="banner"] h1 a:active {
text-decoration : none; }

[role="banner"] h2 {
font : 100%/1.4 proxima-nova, sans-serif;
text-transform : none;
margin-bottom : 1.4em; }

/* 9.NAVIGATION */

[role="banner"] nav {
margin : 0;
clear : left; }

[role="banner"] ul {
list-style : none;
margin : 0;
width : 100%;
padding : 0; }

[role="banner"] li {
float : left;
margin-right : 9.49%; }

[role="banner"] li a, [role="banner"] li a:visited {
color : #BCBCBC; }

[role="banner"] li a:hover {
color : rgb(255,255,255); }

/* 10.CONTENT */

.content {
background : rgb(255,255,255);
margin : 0 auto; }

/* 11.MAIN */

[role="main"] {
padding : 1.4em 0; }

[role="main"] section {
padding : 0 0 1.4em; }

[role="main"] section:last-child {
padding : 0; }

[role="main"] h2 {
margin : 0 5% 0.46em; }

.home [role="main"] h2 {
margin : 0 5%; }

[role="main"] a {
border : 1px solid transparent;
margin : 0 -1px;
-moz-transition : all 0.3s ease;
-webkit-transition : all 0.3s ease;
-o-transition : all 0.3s ease;
transition : all 0.3s ease;
-moz-border-radius : 3px;
-webkit-border-radius : 3px;
border-radius : 3px; }

.archive article a, .archive a.more {
padding : 16px 5%;
margin : 0;
display : block;
-moz-transition : all 0.3s ease-in-out;
-webkit-transition : all 0.3s ease-in-out;
-o-transition : all 0.3s ease-in-out;
transition : all 0.3s ease-in-out; }

[role="main"] a:hover {
background : #E9E9E9;
text-shadow : 1px 1px 1px rgba(255,255,255,1);
-moz-box-shadow : inset 0 0 10px rgba(40,40,40,0.1);
-webkit-box-shadow : inset 0 0 10px rgba(40,40,40,0.1);
box-shadow : inset 0 0 10px rgba(40,40,40,0.1);
border : 1px solid #D5D5D5; }

[role="main"] a:active{
background : #D4D4D4;
text-shadow : 1px 1px 1px rgba(255,255,255,1);
-moz-box-shadow : inset 0 0 10px rgba(40,40,40,0.1);
-webkit-box-shadow : inset 0 0 10px rgba(40,40,40,0.1);
box-shadow : inset 0 0 10px rgba(40,40,40,0.2);
border : 1px solid #B2B2B2; }

.archive a.more {
text-align : center;
clear : both; }

[role="main"] h2 a {
padding-right : 36px;
background : url("../img/arrow.png") no-repeat scroll right 4px transparent;
display : inline-block;
color : rgb(40,40,40);
-moz-transition : all 0.1s ease;
-webkit-transition : all 0.1s ease;
-o-transition : all 0.1s ease;
transition : all 0.1s ease;
border : 1px solid transparent; }

[role="main"] h2 a:hover {
color : #1777AF;
background : url("../img/arrow2.png") no-repeat scroll right 4px transparent;
border : 1px solid transparent;
-moz-box-shadow : none;
-webkit-box-shadow : none;
box-shadow : none;
text-shadow : none; }

[role="main"] h2 a:active {
text-decoration : underline;
-moz-box-shadow : none;
-webkit-box-shadow : none;
box-shadow : none;
background : url("../img/arrow2.png") no-repeat scroll right 4px transparent;
border : 1px solid transparent; }

article h3 {
color : #282828; }

.study {
max-width : 668px; }

.project .study {
clear : both; }

aside {
margin : 0 5% 1.4em;
border-bottom : 1px solid #BEBEBE;
max-width : 668px; }

aside em {
display : block;
color : #7E7E7E;
font-style : normal;
text-transform : uppercase;
font-size : 0.8em;
line-height : 1.65em; }

aside ul {
list-style : none;
margin-bottom : 0; }

aside li, aside p {
margin-bottom : 1.4em;
line-height : 1.4em; }

.palette {
padding : 0; }

.palette li {
width : 14px;
float : left;
list-style : none;
border : 1px solid #BEBEBE;
height : 14px;
margin : 3px 1px;
text-indent : -9999px; }

article p {
margin : 0 5% 1.4em; }

aside p {
margin : 0 0 1.4em; }

.project img {
border : 1px solid #BEBEBE;
width : 90%;
margin : 0 auto;
display : block;
max-width : 665px;
margin-bottom : 1.4em; }

.project figure {
clear : both; }

.project figcaption {
color : #686868;
margin : 0 5%;
padding-bottom : 1.4em;
max-width : 668px; }

.project figure:last-child figcaption {
padding-bottom : 0; }

.project figcaption a {
text-transform : uppercase;
font-size : 0.8em; }

.archive img {
width : 100%;
max-width : 500px;
border : 1px solid #BEBEBE; }

.archive header {
margin : 0 5%;
border-bottom : 1px solid #BEBEBE; }

.archive header h2 {
margin : 0 0 0.46em; }

/* 12.COMPLEMENTARY */

[role="complementary"] {
padding : 1.4em 0;
color : rgb(255,255,255);
background : #282828; 
text-shadow : 1px 1px 1px #000000;
border-top : 1px solid #000000;
-moz-box-shadow : 0 -3px 10px rgba(40, 40, 40, 0.1);
-webkit-box-shadow : 0 -3px 10px rgba(40, 40, 40, 0.1);
box-shadow : 0 -3px 10px rgba(40, 40, 40, 0.1); }

[role="complementary"] h2 {
margin : 0 5%; }

[role="complementary"] p {
margin : 0; }

[role="complementary"] a {
-moz-transition : all 0.3s ease;
-webkit-transition : all 0.3s ease;
-o-transition : all 0.3s ease;
transition : all 0.3s ease;
color : #21ABFB; }

[role="complementary"] a:visited {
color : #21ABFB; }

[role="complementary"] a:hover {
color : rgb(255,255,255); }

[role="complementary"] a:active {
color : rgb(255,255,255);
text-decoration : underline; }

[role="complementary"] ul {
list-style : none;
margin-bottom : 0; }

[role="complementary"] section {
padding : 1.4em 0; }

[role="complementary"] nav {
padding : 1.4em 0; }

/* 13.CONTENTINFO */

footer {
padding : 1.4em 0;
color : rgb(255,255,255);
background : #282828;
text-align : center;
text-shadow : 1px 1px 1px #000000;
border-bottom : 3px solid #21ABFB; }

footer a, footer a:visited {
-moz-transition : all 0.3s ease;
-webkit-transition : all 0.3s ease;
-o-transition : all 0.3s ease;
transition : all 0.3s ease;
color : #21ABFB; }

footer a:hover {
color : rgb(255,255,255); }

footer a:active {
color : rgb(255,255,255);
text-decoration : underline; }

/* 14.GLOBAL OBJECTS */

.clearfix { 
zoom : 1; }

.clearfix:before, 
.clearfix:after { 
content : "\0020"; 
display : block; 
height : 0; 
overflow : hidden; }

.clearfix:after { 
clear : both; }

.container {
width : 90%;
max-width : 900px;
margin : 0 auto; }

/* 15.VENDOR-SPECIFIC */

body {
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

a:link { 
-webkit-tap-highlight-color : rgb(52,158,219); }

::-webkit-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::-moz-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

/* input[type=search] {
-webkit-appearance : none; }

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
display : none; } */

::-webkit-input-placeholder {
padding : 10px;
font-size : .875em; 
line-height : 1.4; }

input:-moz-placeholder { 
padding : 10px;
font-size : .875em; 
line-height : 1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode : bicubic; }

div,
input,
textarea  { 
-webkit-box-sizing : border-box;
-moz-box-sizing : border-box;
-o-box-sizing : border-box;
box-sizing : border-box; }

.ie6 [role="main"], .ie7 [role="main"], .ie8 [role="main"] {
width : 900px; }

.ie6 .container, .ie7 .container, .ie8 .container {
width : 900px; }

.ie6 footer, .ie7 footer, .ie8 footer {
width : 900px; }

.ie6 [role="main"] a {
border : 1px solid #FFFFFF; }

.ie6 [role="main"] h2 a:hover {
border : 1px solid #FFFFFF; }

.ie6 [role="main"] h2 a:active {
border : 1px solid #FFFFFF; }

/* Non-semantic helper classes */

/* Image replacement */
.ir { 
display : block; 
text-indent : -999em; 
overflow : hidden; 
background-repeat : no-repeat; 
text-align : left; 
direction : ltr; }

/* Hide for screenreaders and visual browsers */
.hidden { 
display : none; 
visibility : hidden; }

/* Hide visually */
.visuallyhidden { 
position : absolute;
clip : rect(0 0 0 0); 
overflow : hidden;
margin: -1px;
padding : 0;
height : 1px;      
width : 1px;
border : 0; }

/* Allow an element to be focusable via keyboard  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { 
position : static;
clip : auto; 
overflow : visible;
height : auto; 
margin : 0;   
width : auto; }

/* Hide but maintain layout */
.invisible { 
visibility : hidden; }

/* 16.TEMPLATE SPECIFICS */

#goog-fixurl ul  {
list-style-type : none; }

#goog-fixurl input  {
margin-bottom : 1.5em; }

/* 17.MODERNIZR */