/* 2.HEADINGS */

.home .l-banner h1 {
text-shadow : 3px 3px 1px #000000;
font-size : 6em; }

.home .l-banner {
padding : 0; }

/* 8.BANNER */

.l-banner {
padding : 0; }
 
/* 9.NAVIGATION */

.l-banner nav {
margin-left : 25.78%;
width : 74.22%;
clear : none; }

.l-banner ul {
list-style : none;
float : left;
margin : 0;
padding : 0; }

.l-banner li {
float : left;
margin-top : 13px;
margin-bottom : 10px;
margin-right : 9.49%;
line-height : 0.8;
width : 12.87%;
max-width : 53px; }

.l-banner li a {
padding : 20px 0 8px; }

/* 11.MAIN */

.category {
width : 48.33%;
float : left;
padding : 0; }

.category:first-child {
margin-right : 3.33%; }

.main h2 {
margin : 0 0 0.46em; }

.home .main h2 {
margin : 0; }

.archive header {
margin : 0; }

.archive article {
width : 48.33%;
float : left; }

.archive article:nth-child(even) {
margin-right : 3.33%; }

.archive section article {
width : 100%; }

.archive section article:nth-child(odd) {
margin-right : 0; }

.archive a.more {
width : 100px;
margin : 0 auto;
text-align : center; }

.archive article a {
padding : 6px 12px;
margin : 8px -13px; }

article p {
margin : 0 0 1.4em; }

.project img {
border : 1px solid #BEBEBE;
width : 100%;
margin : 0;
max-width : 665px;
margin-bottom : 1.4em; }

.project figcaption {
margin : 0; }

aside {
margin : 0 0 1.4em; }

aside li, aside p {
width : 48.33%;
float : left;
margin-right : 3.33%; }

aside li:nth-child(even) {
margin-right : 0; }

aside p:nth-child(even) {
margin-right : 0; }

.about aside p {
width : 100%; }

.palette li {
width : 14px;
margin : 3px 1px; }

.palette li:nth-child(even) {
margin-right : 1px; }

/* 12.COMPLEMENTARY */

.complementary section {
float : left;
width : 48.33%;
padding : 1.4em 0; }

.complementary section.extras {
clear : left;
margin-right : 3.33%; }

.complementary nav { 
float : left;
width : 48.33%;
margin-right : 3.33%;
padding : 1.4em 0; }

.complementary h2 {
margin : 0; }

/* 14.GLOBAL OBJECTS */

.main h2.fourohfour {
font-size : 7.85em;
margin-bottom : .3em; }