.content {
background-color : #35586B;
background-image : -moz-linear-gradient(top, rgba(40,40,40,0.5), rgba(255,255,255,0.1));
background-image : -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(40,40,40,0.5)), to(rgba(255,255,255,0.1)));
background-image : -webkit-linear-gradient(top, rgba(40,40,40,0.5), rgba(255,255,255,0.1)); 
background-image : -ms-linear-gradient(top, rgba(40,40,40,0.5), rgba(255,255,255,0.1));
background-image : -o-linear-gradient(top, rgba(40,40,40,0.5), rgba(255,255,255,0.1)); }

[role="main"] {
padding : 1.6875em 0 0; }

article {
max-width : 553px;
margin : 0 5%; }

[role="main"] h2 {
font-size : 3em;
margin-bottom : 0.4em;
margin-left : -3px;
line-height : .74em;
color : #DEDEDE;
color : rgba(255, 255, 255, 0.8);
text-shadow : 0px 0px 30px rgba(255,255,255,0.35),
			  2px 2px 1px rgba(40,40,40,0.6),
			  -2px -2px 1px rgba(40,40,40,0.6); }
			  
.wf-active [role="main"] h2 {
font-size : 4.85em;
margin-bottom : 0.32em; }

article p {
-webkit-hyphens : auto;
-webkit-hyphenate-character : "\2010";
-webkit-hyphenate-limit-after : 1;
-webkit-hyphenate-limit-before : 3;
-moz-hyphens : auto;
hyphens : auto;
text-align : justify;
font-family : chaparral-pro,serif;
font-size : 1.125em; /* 18 / 16 */
margin : 0 0 1.5em;
line-height : 1.5em;
color : #DEDEDE;
color : rgba(255, 255, 255, 0.8);
text-shadow : 1px 1px 1px rgba(40,40,40,0.6);
position : relative;
z-index : 2; }

[role="main"] a, [role="main"] a:visited {
color : #ffe184;
border : 0;
margin : 0; }

[role="main"] a:hover, [role="main"] a:active {
background : transparent;
box-shadow : none;
border : 0;
text-shadow : 1px 1px 1px rgba(40, 40, 40, 0.6);
text-decoration : underline; }

#sun {
height : 300px;
width : 100%;
z-index : 1;
position : relative;
margin : -120px auto;
bottom : -106px;
-moz-transition : all 3s ease;
-webkit-transition : all 3s ease;
-o-transition : all 3s ease;
transition : all 3s ease;
text-align : center;
background : no-repeat center 0; }

#sun.risen {
bottom : -50px;
background : url('/img/daybreak/burst.png') no-repeat center 0; }

[role="complementary"], footer {
position : relative;
z-index : 2; }

/* 480px */
@media only screen and (min-width: 480px) {

article {
margin : 0; }

[role="main"] h2 {
font-size : 4.5em;
margin-left : -5px;
margin-bottom : 0.4em;
line-height : .72em; }

.wf-active div[role="main"] h2 {
font-size : 7.375em;
margin-bottom : 0.2em; }

}

.ie6 body, .ie7 body {
color : #DEDEDE; }

.ie6 article, .ie7 article, .ie8 article {
margin : 0; }

.ie6 [role="main"] h2, .ie7 [role="main"] h2, .ie8 [role="main"] h2 {
margin-left : -5px;
line-height : .72em; }

.ie6.wf-active [role="main"] h2, .ie7.wf-active [role="main"] h2, .ie8.wf-active [role="main"] h2 {
font-size : 7.375em;
margin-bottom : 0.2em; }

.ie6 #sun {
display : none; }

.ie6 a, .ie6 a:visited {
border : 0 none !important; }