---
layout: default
title: About Me
---
<article class="Kicker u-marginModule">
	<h1 class="Title HeadingA u-textKern u-defaultMargin">Who?</h1>

	<p>
		Hi. I'm a front-end web developer in Seattle, Washington.
	</p>

	<p>
		I work at
		<a href="http://formidablelabs.com/">Formidable Labs</a>,
		doing things like
		CSS architecture,
		web application development,
		and UI design.
	</p>

	<p>
		I spout inanities on
		<a href="https://www.twitter.com/alexlande">Twitter</a>
		and open issues and never contribute on
		<a href="https://www.github.com/alexlande">GitHub</a>.
	</p>

	<p>
		The rest of the time
		you can find me buried in punk records and comic books,
		or otherwise being a stereotype.
		I also hang out with my
		<a href="http://instagram.com/p/m6QZPiDgJG/">dog</a>
		a lot.
	</p>

</article>
