<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  {% if page.title == index %}
    <title>Alex Lande</title>
  {% else %}
    <title>{{ page.title }} | Alex Lande</title>
  {% endif %}

  <meta name="description" content="Front-end developer, web design curmudgeon. Building things in Seattle, WA.">

  <meta name="author" content="Alex Lande">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="FkPcVHJUivOJmM2LE8BIzepzcT5JfxwXvI3BDvvGL6Q">

  <link rel="alternate" type="application/rss+xml" href="/feed">
  <style>{% include main.css %}</style>
</head>

<body class="Site fontSmoothing">
  <header class="Site-header Header py1 bg-orangeGradient" role="banner">
    <div class="flex items-center Container">
      <div class="flex-auto">
        <a class="f18 f24-m sans fw7 white" href="/">Alex Lande</a>
      </div>

      <nav>
        <ul class="f14 f16-m flex">
          <li>
            <a class="white f12 f14-m fw9 SpacedCaps" href="/">Articles</a>
          </li>
          <li class="ml1 ml2-m">
            <a class="white f12 f14-m fw9 SpacedCaps" href="/about">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main role="main" class="Site-content">
    {{ content }}
  </main>

  <footer class="f14 f16-m white bg-orangeGradient py2 py5-m tc Site-footer" role="contentinfo">
    <div class="Container">
      <p class="f32 mb2">Thanks for reading.</p>

      <nav class="mb2 f14 f16-m">
        <ul class="flex justify-center flex-column flex-row-m">
          <li>
            <a class="white f12 f14-m fw9 SpacedCaps" href="/">Articles</a>
          </li>
          <li class="mt1 mt0-m ml2-m">
            <a class="white f12 f14-m fw9 SpacedCaps" href="/about">About</a>
          </li>
          <li class="mt1 mt0-m ml2-m">
            <a class='white f12 f14-m fw9 SpacedCaps' href="/feed">Feed</a>
          </li>
          <li class="mt1 mt0-m ml2-m">
            <a class="white f12 f14-m fw9 SpacedCaps" href="https://www.twitter.com/alexlande">Twitter</a>
          </li>
          <li class="mt1 mt0-m ml2-m">
            <a class="white f12 f14-m fw9 SpacedCaps" href="https://www.github.com/alexlande">GitHub</a>
          </li>
        </ul>
      </nav>

      <p>Copyright &copy; {{ 'now' | date: "%Y" }}</p>
    </div>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-10034002-4', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
