<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  {% if page.title == index %}<title>Alex Lande</title>
  {% else %}<title>{{ page.title }} | Alex Lande</title>{% endif %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="author" content="Alex Lande">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="/css/main.min.css">

  {% if page.style %}<link rel="stylesheet" href="{{ page.style }}">{% endif %}

  <script src="/js/vendor/modernizr-2.5.3.min.js"></script>

  <!--[if (lt IE 9) & (!IEMobile)]>
    <script>yepnope('/css/legacy.min.css')</script>
  <![endif]-->

</head>

<body>

<header class="banner" role="banner">

  <div class="l-constrained">
  
    <a class="logo" href="/">Alex Lande</a>
  
    <nav class="nav">
  
      <ul>
    
        <li><a href="/articles">Articles</a></li>
        
        <li><a href="/projects">Projects</a></li>
        
        <li><a href="/about">About</a></li>
        
      </ul>
    
    </nav>
    
  </div>
  
</header>

<div class="main cf" role="main">

  <div class="l-constrained">

    {{ content }}

  </div>

</div>

<footer class="footer cf" role="contentinfo">

  <div class="l-constrained">

    <section class="l-about block cf">

      <h2>A Little About Me</h2>

      <p>I'm a front-end web developer based in Boulder, Colorado since 2007. I build striking, accessible websites for non-profits and small businesses.</p>

    </section>
    
    <nav class="block l-block">
    
      <h2>Here</h2>
      
      <ul>
      
        <li>Learn more <a href="/about">About Me</a></li>
        
        <li>Read some <a href="/articles">Articles</a></li>
        
        <li>View my <a href="/projects">Projects</a></li>
        
      </ul>
      
    </nav>
    
    <section class="block l-block last">
    
      <h2>There</h2>
      
      <ul>
      
        <li>Unfortunate <a href="http://www.twitter.com/alexlande">Twitter</a></li>
        
        <li>Understated <a href="http://www.github.com/alexlande">GitHub</a></li>
        
        <li>Unendorsed <a href="http://zerp.ly/alexlande">Zerply</a></li>
        
      </ul>
      
    </section>

    <section class="l-meta block cf">

      <small class="copyright">Copyright &copy; 2011&ndash;2012 <a href="/about">Alex Lande</a></small>

      <ul class="meta">
        <li><a href="mailto:alexlande@gmail.com">Contact Me</a></li>
        <li><a href="http://feeds.feedburner.com/alexlande">RSS Feed</a></li>
        <li><a href="http://http://github.com/alexlande/alexlande.github.com">View Source</a></li>
      </ul>

    </section>

  </div>

</footer>

<!-- Scripts -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="http://alexlande.com/js/vendor/jquery-1.7.2.min.js"><\/script>')</script>

<!--<script src="/js/site.min.js"></script>-->

{% if page.script %}
<script src="{{ page.script }}"></script>
{% endif %}

<script>
var _gaq=[['_setAccount','UA-10034002-4'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script type="text/javascript" src="http://use.typekit.com/jrb4zrt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

{% if page.typekit %}
<script type="text/javascript" src="http://use.typekit.com/{{ page.typekit }}.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endif %}

{% if page.comments == true %}
<script type="text/javascript">
    var disqus_shortname = 'alexlande';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endif %}
</body>
</html>